@import "../../../styles/fonts.scss";

.main_wrapper {
    background: rgba(255, 255, 255, 1);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    min-height: 150px;
}

.award_text {
    margin-left: 20px;
     font-family: "Avenir Next Bold";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.award_wrapper {
    margin: 18px 11px 20px 29px;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.award_wrapper::-webkit-scrollbar {
    display: none;
}

.awardNotyet{
    text-align: center;
    margin-top: 14%;
}
.something_went_wrong{
    text-align: center;
    margin-top: 12%;
    color: rgba(231, 45, 56, 1);
}
.view_all {
    font-family: "Avenir Next bold";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(231, 45, 56, 1);
    margin-left: 110px;
    cursor: pointer;
}
.heading_Wrapper {
    display: flex;
    margin-top: 28px;
}

.award_img {
    width: 74px;
    height: 74px;
    margin-right: 20px;
}

.margin_spinner {
    margin-top: 50px;
}
