
@import "../../../styles/fonts.scss";

.certificate_wrapper{
    display: block;
    position: relative;
    margin-top: 30px;
    width: 90%;
    height: 184px;
    margin-left: 20px;
    border-radius: 4px;
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.16%, rgba(0, 0, 0, 0.17) 61.41%), linear-gradient(0deg, #DFDFDF, #DFDFDF);
    border: 1px solid rgb(223, 223, 223);
    margin-bottom: 40px;
}

.certificate_wrapper_nobroder{
    display: block;
    position: relative;
    margin-top: 30px;
    width: 90%;
    height: 184px;
    margin-left: 20px;
    border-radius: 4px;
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.16%, rgba(0, 0, 0, 0.17) 61.41%), linear-gradient(0deg, #DFDFDF, #DFDFDF);
    // border: 1px solid rgb(223, 223, 223);
    margin-bottom: 40px;
}
.award_certificate_url{
    width: 100%;
    height: 75%;

}

.image_bellow_wrapper{
    width: 100%;
    height: 25%;
    background: #FFFFFF;
    position: absolute;
    border-top: 1px solid rgb(223, 223, 223);
    /* margin-top: 135px; */
    left: 0px;
    top: 135px;
}

.iconImg{
    margin-left: 15px;
    // margin-top: 15px;
}
.inline_image{
  position: relative;
    top: 0px;
    left: auto;
    display: flex;
    width: 320px;
    max-width: 300px;
}

.file_name{
    margin-left: 10px;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
  
    font-family: "Avenir Next bold";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    // margin-top: 14px;
}
.fileExt{
    // position: relative;
    font-family: "Avenir Next bold";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
 align-self: flex-start;
    // margin-top: 12px;
    // margin-left: 1px;
}

.closeIcon{
    position: absolute;
    /* margin-top: 17px; */
    height: 20px;
    width: 20px;
    left: 100%;
    /* bottom: 1%; */
    border-radius: 6px;
    padding: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.closeIcon_empty{
    position: absolute;
    /* margin-top: 17px; */
    height: 20px;
    width: 20px;
    left: 100%;
    /* bottom: 1%; */
    border-radius: 6px;
    padding: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.flex_display{
    display: flex;
    width: 100%;
    justify-content:flex-start;
    position: relative;
}